*{
    margin: 0;
    padding: 0;

    
     

}

/* body{
    max-width: 1600px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

} */



.section-heading{
    margin: 0 auto;
    max-width: 1672px;
    width: 776px;
}

.section-heading h2{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 7px;
    
}


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

nav{
    width: 71%;
    max-width: 1140px;
    
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    counter-reset: #FFFFFF;
}

nav .menu{

    display: flex;

     list-style-type: none;
    gap: 32px;

    align-items: center;
    cursor: pointer;

}

.logo{

    padding-left: 120px;
    padding-top: 16px;
    position: relative;
    right: 169px;
}

.btn{

    position: relative;
    left: 218px;
    background-color: #469165;
    color: #FFFFFF;
     border: none;
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
   cursor: pointer;
   
}

.btn-trans{
 position: relative;
    left: 218px;
    background-color: transparent;
    color: #FFFFFF;
     border: 0.6px solid black;
    padding: 16px 32px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
   cursor: pointer;

}

.banner-text{

    display: block;
    text-align: center;
    width: 100%;
    max-width: 770px;
    margin: 0 auto;
    padding-top: 167.6px;
}

.banner-p{

    padding-top: 34px;
}

.green-text{
    color: #30B868;
}

.banner-container{

    background: url(../assets/hero-bg.png);
    width: 100%;
    max-width: 1673px;
    height: 674px;
    background-repeat: no-repeat;
}

h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 79px;
    width: 876px;
    height: 147px;
    padding-bottom: 18px;
    padding-top: 16px;
}
.banner-buttons{

    display: flex;
    gap: 16px;
    padding-top: 32px;
   
}
.radio{

    background-color: #FFFFFF;
    width: 197px;
    margin: 0 auto;
   
    border-radius: 4px;
    
}

/* .tri{

     border-radius: 0.1px;
    color: #001931;
     border: 0.6px solid white
     
} */



#notes{

    padding-top: 115px;

}

.notes-container{

    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
}

.note-box{
    display: flex;
    gap: 24px;
}

.note-card{
    padding: 30px;
    max-width: 322px;
    
}

.note-card img{

    margin-bottom: 30px;
     background-color: #F95555;
    color: #FFFFFF;
    border-radius: 10px;
   
    
}

 h3{

    padding-bottom: 6px;
    font-size: 24px;
}

.note-card img p{

    padding: 10px;
}

#brain{

    padding-top: 120px;
}

.brain-h1{
    font-size: 46px;
}

.brain-container{
    display: flex;
    gap: 60px;
   margin: 20px auto 40px 100px;

}

.brain-text{

    max-width: 700px;
    width: 516px;
}

.brain-text  p{

    padding-top: 12px;
}

#brain{

    margin: 0 auto;
}
.font-icon{
    background-color: #30B868;
    border-radius: 14px;
}

.header-btn{

    margin: auto auto auto 138px;
}

#id{

    width: 76%;
    max-width: 1642px;
    margin: 0 auto;
}

.access{


    background-color: #F7F6F2;
    
    width: 934px;
    /* border: 1px  solid black; */
    margin: 0 auto;
    



    
}



.access-h1{

    font-size: 40px;
      height: 40px;
      padding-bottom: 16px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
}

.access-p{

    text-align: center;
}

.access-button{

    text-align: center;
    position: relative;
    right: 213px;
    padding-top: 32px;
    padding-bottom: 16px;
}
.access-line{
    text-align: center;
}

.footer-sec
{
     width: 100%;
    max-width: 1600px;
    height: 244px;
     padding-top: 70px;
    
   
}

.footer-container{
  
    background-color: #001931;
    display: flex;
    gap: 647px;
    
    text-align: center;
    justify-content: space-around;

    height: 246px;
    padding-top: 120px;

   
   
}

.copyright{

    background-color: #001931;

    text-align: center;
}

.copyright{

    padding-top: 26px;
    
}

.line{
    padding-top: 40px;
}

#CheckCircle{

    padding-top: 20px;
}

#f-icon{
    color: #F7F6F2;
}

